   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: hsl(332, 100%, 50%);
      color: #000000;
    }

    .container {
      max-width: 800px;
      margin: 40px auto;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      overflow: hidden;
    }

    .header-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .content {
      padding: 30px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #000000;
    }

    .question {
      margin-bottom: 25px;
    }

    .question h3 {
      margin-bottom: 10px;
    }

    .question img, .options img {
      width: 300px;
    }

    .options label {
      display: block;
      background: #eee;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .options input[type="radio"] {
      display: none;
    }

    .options label:hover {
      background: #ddd;
    }

    .btn {
      display: block;
      width: 100%;
      padding: 15px;
      background-color: #268fff;
      color: rgb(3, 2, 2);
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 20px;
    }

    .btn:hover {
      background-color: #0ca8a1;
}